<div class="card m-2" style="width: 18rem;">  
  <div class="card-body">
    <h5 class="card-title">Serie</h5><p>{{this.serie}}</p>
      <div class="row">
        {{#each this.numeros}}        
        <div class="col-sm-4 text-center">
          {{this}}
        </div>
        {{/each}}
      </div>    
  </div>
</div>